@import './node_modules/bootstrap/scss/bootstrap.scss';

html,body,#root,.App {
	height: 100%;
	width: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	#header {
		width: 100vw;
		height: 10vh;
		#header-logo {
			height: 10vh;
		}
	}
	#main {
		height: 85vh;
		flex: 1;
	}
}

